.authorization-page {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-top: 50px;
}

.authorization-register {
    display: flex;
    flex-direction: column;
	border: 1px solid rgba(255, 255, 255, .5);
    padding: 50px;
    border-radius: 25px;
}

.title-no-account {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

label {
    display: flex;
    flex-direction: column;
}


.enter {
    font-size: 38px;
}