.authorization {
    display: flex;
    flex-direction: column;
	border: 1px solid rgba(255, 255, 255, .5);
    padding: 50px;
    border-radius: 25px;
}

label {
    margin-top: 15px;
    margin-bottom: 10px;
}

.enter {
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto';
}

.login {
    height: 30px;
    width: 300px;
    color: black;
    font-size: 20px;
    border-radius: 15px;
    padding: 4px;
}

.password {
    height: 30px;
    width: 300px;
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
    border-radius: 15px;
    padding: 4px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.vasha-pochta {
    font-size: 28px;
}

.vash-parol {
    font-size: 28px;
}
